.ul {
  padding-left: 20px;

  list-style-type: none;
}

.li {
  margin-bottom: 12px;
}

.name {
  display: block;

  margin-bottom: 3px;

  color: var(--color-primary);

  font-size: 16px;
}

.org {
  margin-bottom: 2px;

  font-size: 14px;
}

.date {
  margin-bottom: 2px;

  font-size: 12px;
}
