@use "../../../styles/variables";

.container {
  margin-bottom: 40px;
}

.description {
  margin-top: 8px;
  margin-bottom: 16px;
}

.link {
  font-size: 1.2rem;
}

.images {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

.image-container {
  position: relative;

  width: 100%;
  max-width: 800px;
  height: 180px;
}

@media (min-width: variables.$tablet-width) {
  .image-container {
    height: 240px;
  }
}

@media (min-width: variables.$desktop-width) {
  .image-container {
    height: 360px;
  }
}

.image {
  object-fit: cover;
  object-position: top left;
}
