.container {
  margin-bottom: 40px;
  margin-left: 20px;
  display: list-item;
}

.description {
  margin-top: 8px;
  margin-bottom: 16px;
}

.link {
  font-size: 1.2rem;
}

.images {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

.image {
  max-width: 800px;
}
