@use "../../styles/variables";

.container {
  display: grid;

  grid-template-columns: 5fr minmax(300px, 2fr);
  gap: 20px;

  max-width: variables.$max-width;
}

@media (max-width: variables.$desktop-width) {
  .container {
    grid-template-columns: 1fr;
  }
}
