.container {
  margin-bottom: 20px;
}

.footer {
  margin-top: 4px;
}

.link {
  font-size: 1.2rem;
}

.archive {
  margin-left: 8px;

  font-size: 16px;
}

.type {
  font-style: italic;
}

.publisher {
  color: var(--color-secondary);

  font-style: italic;
}
