@use "../styles/variables";

.container {
  width: fit-content;
  max-width: variables.$max-width;
  padding: 0 40px;
}

@media (max-width: variables.$desktop-width) {
  .container {
    margin: 0 auto 50px;
    padding: 0 16px;
  }
}

@media (min-width: variables.$max-width) {
  .container {
    min-width: variables.$max-width;
    margin: 0 auto 50px 50px;
  }
}
