@use "../../../styles/variables";

.container {
    margin-bottom: 30px;
}

.description {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: flex-start;
    gap: 20px;
}

.description p {
    max-width: 600px;
    margin-top: 0;
    text-align: justify;
}

@media (max-width: variables.$tablet-width) {
    .description {
        grid-template-columns: 1fr;
        justify-items: flex-start;
    }
}

.name {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 20px 0;

    background-color: var(--color-quartary);
    background-image:
      linear-gradient(
        45deg,
        var(--color-quartary),
        var(--color-quinary) 50%
      );
    background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;    
}