@use "../../../styles/variables";

.nav {
  width: fit-content;
  margin-top: 16px;
  margin-bottom: 24px;
}

.list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.nav a {
  padding: 16px 4px;

  color: var(--color-font);

  font-size: 14px;

  &.active {
    color: var(--color-primary);
  }
}

@media (min-width: variables.$tablet-width) {
  .nav a {
    margin-right: 16px;

    font-size: 16px;
  }
}
