@use "../../../styles/variables";

.nav {
  margin-top: 16px;
  margin-bottom: 24px;
  width: fit-content;
}

.nav a {
  padding: 16px 4px;
  font-size: 14px;
  color: var(--color-font);

  &.active {
    color: var(--color-primary);
  }
}

@media (min-width: variables.$tablet-width) {
  .nav a {
    margin-right: 16px;

    font-size: 16px;
  }
}
