.name {
  display: block;

  margin-bottom: 3px;

  color: var(--color-primary);

  font-size: 16px;
}

.org {
  margin-bottom: 2px;

  font-size: 14px;
}

.date {
  margin-bottom: 2px;

  font-size: 12px;
}
