@import "../../../styles/variables.module.scss";

.container {
  display: grid;

  grid-template-columns: 5fr minmax(300px, 2fr);
  gap: 20px;

  max-width: $max-width;
}

@media (max-width: $tablet-width) {
  .container {
    grid-template-columns: 1fr;
  }
}
