.ul {
  padding-left: 4px;

  list-style-type: none;

  & li {
    position: relative;

    display: inline-block;

    margin: 0 36px 10px 0;

    & img {
      position: absolute;
      z-index: -1;
      top: -18px;
      right: -16px;

      transform-origin: bottom left;

      opacity: 0;
    }

    & a:hover img,
    & a:focus img {
      animation-name: icon-animation;
      animation-duration: 0.22s;

      opacity: 1;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .ul li a:hover img,
  .ul li a:focus img {
    animation: none;
  }
}

@keyframes icon-animation {
  0% {
    transform: rotate(180deg);
    opacity: 0;
  }

  40% {
    opacity: 0.3;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
