@import "../../../styles/variables.module.scss";

.container {
  margin: 0 auto 50px;
  padding: 0 40px;
}

.layout {
  display: grid;

  grid-template-columns: 5fr minmax(300px, 2fr);
  gap: 20px;

  max-width: $max-width;
}

@media (max-width: $tablet-width) {
  .layout {
    grid-template-columns: 1fr;
  }
}
